@media (max-width: 1199.98px) {
    /* banner part start*/
    .bannerLeft__header {
        font-size: 49px;
        line-height: 62px;
    }
    .bannerLeft__discription {
        padding: 25px 0;
    }
    /* banner part end*/
    .brandsLogo__Count {
        font-size: 30px;
    }
    /* navbar part start */
    .footerLeft__contact {
        padding: 17px 5px;
    }
    /* navbar part end */
}