/* common css */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
a,
p,
span,
ul,
li {
    margin: 0;
    padding: 0;
}

:root {
    --primary_blue: #1C1E53;
    --primary_white: #fff;
    --dark_blue: #282938;
    --Grey: #F4F6FC;
    --light_grey: #BBBBCB;
    --yellow: #FCD980;
    --tint_blue: #2405F2;
    --poppins: "Poppins", sans-serif;
    --manrope: "Manrope", sans-serif;
}


/* common css */


/* nav css start*/

#navFull {
    background: var(--primary_blue, #1C1E53);
    padding: 10px 0;
}

.menuItem a {
    font-family: var(--poppins);
    color: var(--light_grey);
    font-size: 16px;
    font-weight: 500;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.menuItem a:hover {
    color: var(--primary_white);
}

.navBtn a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 47px;
    background: transparent;
    color: #fff;
    border: 2px solid rgba(244, 246, 252, 0.2);
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
    margin-left: 36px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.navBtn a:hover {
    color: var(--dark_blue);
    background: var(--yellow);
}


/* nav css end*/


/* aboutus css end*/

#aboutusFull {
    padding: 128px 0;
}

.aboutusFullLeft__subhead {
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 500;
    color: var(--dark_blue);
}

.aboutusFullLeft__header {
    font-family: var(--poppins);
    font-size: 54px;
    font-weight: 600;
    color: var(--dark_blue);
    line-height: 74px;
    max-width: 595px;
    padding: 8px 0 31px;
}

.aboutusFullLeft__discription {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(40, 41, 56, 0.705);
    max-width: 484px;
}


/* aboutus css end*/


/* whowe css star*/

#whoweFull {
    padding-bottom: 128px;
}

.whoweFullUpper {
    background: #F4F5F5;
    padding: 80px 0;
}

.whoweFulltop__subHead {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    color: var(--dark_blue);
}

.whoweFullLeft__Header {
    font-family: var(--poppins);
    font-size: 38px;
    font-weight: 600;
    color: var(--dark_blue);
    padding: 4px 0 16px;
}

.whoweFullLeft__discription {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(40, 41, 56, 0.705);
    max-width: 515px;
}

.whoweFullRight__Header {
    font-family: var(--poppins);
    font-size: 38px;
    font-weight: 600;
    color: var(--dark_blue);
    padding: 4px 0 16px;
}

.whoweFullRight__discription {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(40, 41, 56, 0.705);
    max-width: 515px;
}


/* whowe css end*/


/* theprocess css star*/

#theprocessFull {
    padding-bottom: 128px;
}

.theprocessTop__header {
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
    color: var(--dark_blue);
    padding-bottom: 48px;
}

.theprocessCard__title {
    font-family: var(--poppins);
    font-size: 24;
    font-weight: 500;
    color: var(--dark_blue);
    padding: 32px 0 8px;
}

.theprocessCard__discription {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(40, 41, 56, 0.705);
}


/* theprocess css end*/


/* mission css start*/

#missionFull {
    padding: 128px 0;
    background: #EEF4FA;
}

.missionFullContent_top {
    padding-bottom: 96px;
}

.missionFullContent__subhead {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    color: var(--dark_blue);
}

.missionFullContent__header {
    font-family: var(--poppins);
    font-size: 38px;
    font-weight: 600;
    color: var(--dark_blue);
    padding: 16px 0;
}

.missionFullContent__disription {
    font-family: var(--poppins);
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: rgba(40, 41, 56, 0.705);
    max-width: 623px;
}


/* mission css end*/


/* benefit css start*/

#benifitFull {
    padding: 128px 0;
}

.benifitTopContent__header {
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    color: var(--dark_blue);
    padding-bottom: 48px;
}

.benifitmiddleCard {
    padding: 50px 32px 48px 48px;
    background: var(--Grey);
}

.benifitmiddleCard__title {
    color: var(--dark_blue);
    font-size: 24px;
    font-family: var(--poppins);
    font-weight: 500;
    line-height: 36px;
    padding: 26px 0 12px;
}

.benifitmiddle {
    padding-bottom: 48px;
}

.benifitmiddleCard__discription {
    color: var(--dark_blue);
    font-size: 16px;
    color: rgba(40, 41, 56, 0.705);
    font-weight: 400;
    line-height: 28px;
}

.brandsLogo__Count {
    color: var(--dark_blue);
    font-size: 38px;
    font-family: var(--poppins);
    font-weight: 600;
}

.brandsLogo__Title {
    font-size: 16px;
    color: rgba(40, 41, 56, 0.705);
    font-weight: 400;
}


/* benefit css end*/


/* team css start*/

#teamFull {
    padding: 128px 0;
    background: var(--Grey);
}

.teamHead__header {
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
    color: var(--dark_blue);
    padding-bottom: 48px;
}

.teamMembers {
    padding: 48px 64px 32px;
    background: var(--primary_white);
    cursor: pointer;
}

.teamMembers__title {
    font-family: var(--poppins);
    font-size: 24px;
    font-weight: 500;
    color: var(--dark_blue);
    padding: 30px 0 2px;
}

.teamMembers__discription {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    color: rgba(40, 41, 56, 0.705);
}

.teamMembers__img {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.teamOverly {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgba(82, 57, 250, 1) 100%);
    transition: ease-in-out .3s;
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
}

.teamMembers:hover .teamMembers__img .teamOverly {
    bottom: 0;
}

.social_icon {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.social_icon a {
    color: var(--primary_white);
    margin: 0 5px;
    transition: ease-in-out .1s;
    -webkit-transition: ease-in-out .1s;
    -moz-transition: ease-in-out .1s;
    -ms-transition: ease-in-out .1s;
    -o-transition: ease-in-out .1s;
}

.social_icon a:hover {
    transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
}


/* team css end*/


/* footer css start*/

#footerFull {
    background: var(--primary_blue);
    padding-top: 96px;
}

.footerLeft__discription {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.801);
    padding: 22px 0 86px;
}

.footerLeft__contact {
    background: var(--yellow);
    padding: 17px 37px;
}

.footerLeft__contactTitile {
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 500;
    color: var(--dark_blue);
    padding-bottom: 1px;
}

.footerLeft__contactDiscrip {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    color: rgba(40, 41, 56, 0.705);
}

.footerRight__title {
    color: var(--primary_white);
    font-size: 48px;
    font-family: var(--poppins);
    font-weight: 600;
}

.footerRight__discription {
    color: #F4F6FC;
    font-size: 16px;
    font-family: var(--poppins);
    font-weight: 400;
    line-height: 28px;
    margin-top: 14px;
    margin-bottom: 28px;
    padding-right: 204px
}

.footerRight__social a i {
    color: var(--primary_white);
    margin: 0 6px;
    font-size: 18px;
}


/* footer css end*/


/* footernav css start*/

.footernavcopyright {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    color: var(--dark_blue);
}

.footernavcopyrightlink {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    color: var(--dark_blue);
}

.footer--menuitem a {
    color: rgba(40, 41, 56, 0.705);
}

.footer--menuitem a:hover {
    color: var(--dark_blue);
}


/* footernav css end*/