@import "../common.css";
@import "../navbar.css";
@import "../footer.css";
:root {
    --primary_blue: #1C1E53;
    --primary_white: #fff;
    --dark_blue: #282938;
    --Grey: #F4F6FC;
    --light_grey: #BBBBCB;
    --yellow: #FCD980;
    --tint_blue: #2405F2;
    --poppins: "Poppins", sans-serif;
    --manrope: "Manrope", sans-serif;
}


/* protfolio part start */

#protfolioFull {
    padding: 96px 0;
    background: var(--Grey);
}

.protfolioHead__subheader {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    color: rgba(40, 41, 56, 0.712);
}

.protfolioHead__header {
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
    color: var(--dark_blue);
    padding: 4px 0 24px;
}

.protfolioHead__discription {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    color: rgba(40, 41, 56, 0.712);
    line-height: 28px;
    padding: 0 64px 32px;
}

.protfolioHeadSocial__icon i {
    color: var(--dark_blue);
    padding: 0 13px;
}


/* protfolio part end */


/* ourwork part end */

#ourWorkFull {
    padding-top: 96px;
}

.workHead {
    padding-bottom: 48px;
}

.workHead__options {
    font-family: var([--poppins]);
    font-size: 18px;
    font-weight: 500;
    color: rgba(40, 41, 56, 0.712);
    padding: 0 16px;
}

.workCard__title {
    font-family: var(--poppins);
    font-size: 38px;
    font-weight: 600;
    color: var(--dark_blue);
    padding-top: 24px;
}

.workCard__discription {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(40, 41, 56, 0.712);
    padding: 12px 0 24px;
}

.workCard__btn {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    color: var(--dark_blue);
}


/* ourwork part end */


/* letsbuild part start */

#buildFull {
    padding: 128px 0;
}

.buildContent__header {
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    color: var(--dark_blue);
}

.buildContent__Discription {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: rgba(40, 41, 56, 0.712);
    padding: 20px 0 40px;
}

.buildContent__btn {
    padding: 16px 66px;
    background: var(--yellow);
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
    font-family: var(--manrope);
    font-size: 18px;
    color: #1B1C2B;
    font-weight: 600;
}


/* letsbuild part end */